# Programming stuff

# Haskell modules
*.hi

# Pascal units
*.ppu

# General stuff
*.o
*.exe

# Some tests to exclude because of size

chrX*.fa
chrY*.fa
chr1*.fa

# Documentation stuff

*.pdf
*.aux
*.log
